<ion-view cache-view="false" view-title="Lista de Usuários" ng-controller="ListCtrl">
  <ion-content>
    <ion-list show-reorder="reordering">
      <ion-item class="item-remove-animate item-icon-right" href="#/side-menu21/editUsuarios/{{user.id}}" ng-repeat="user in usuarios track by user.id">
		
		<i class="icon icon-left ion-{{user.gender}}"></i>
        <h2 class="ion-{{user.gender}}"> {{user.nome}}</h2>

		<a ng-click="remove(user.id)" class="button button-light icon ion-trash-b"></a>

        <ion-reorder-button class="ion-drag" on-reorder="move(user, $fromIndex, $toIndex)"></ion-reorder-button>

		<!--TODO O BOTAO ABAIXO NAO ESTA SENDO MOSTRADO-->
        <ion-option-button class="button-assertive icon-left ion-trash-b" ng-click="remove(user.id)">Delete</ion-option-button>
		
		
      </ion-item>
    </ion-list>
    <br><br><br>
  </ion-content>
  <div class="bar bar-footer bar-stable">
	  <div class="row">
	  	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<a href="#/side-menu21/addUsuarios" class="col button button-balanced ion-person-add"> Adicionar Usuário</a>
		<!--
	  	<a href="#/visual" class="col button button-energized ion-pie-graph"> Visual</a>
	  	<button class="col button button-royal icon-left ion-shuffle" ng-click="toggleReordering()">Reorder</button>
		-->
  	</div>
  </div>
</ion-view>